/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #0D0D0D;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.swap-button {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    animation: pulse 1s infinite alternate; /* Hace que el botón parpadee */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

#hero {
    background-color: #ff9900;
    color: #0D0D0D;
    padding: 100px 0;
    text-align: center;
}

#hero h2 {
    margin: 0;
    font-size: 36px;
}

#about, #features, #team {
    padding: 50px 0;
}

#contract-address {
    background-color: #ff9900;
    text-align: center;
    padding: 20px 0;
}

.big-popup {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.contract-address {
    font-size: 18px; /* Reduciendo el tamaño del texto de la dirección del contrato */
    margin: 0;
}

.verify-contract {
    color: #0D0D0D;
    text-decoration: underline;
    display: block;
    margin-top: 10px; /* Reduciendo el margen superior */
}

footer {
    background-color: #0D0D0D;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Estilos para tablet y móvil */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    header h1 {
        font-size: 20px;
    }

    #hero h2 {
        font-size: 28px;
    }

    .swap-button {
        padding: 40px 80px; /* Aumentado el tamaño del botón en móvil */
    }

    .big-popup {
        padding: 5px; /* Reduciendo el padding del contenedor de dirección y contrato */
    }
}

